html {
  --theme: #24492D;
  --theme-light: #B7DFBF;
  --theme-dark: #221F1B;
  --highlight: #996DDB;
  --highlight-dark: #514A5C;
  --highlight-2: #DBA96B;
}

body {
  font-family: "SUSE", sans-serif;
  font-optical-sizing: auto;
  font-size: 17px;
  background-color: var(--highlight-2);
  color: var(--theme-dark);
}

h1 {
  color: var(--theme);
}

h1, h2 {
  text-align: center;
}

div.col-2 {
  width: 50%;
  float: left;
}

div.col-2 > div {
  margin: 1em;
  padding: 1em;
  background-color: var(--theme-light);
  box-shadow: 3px 3px var(--highlight-dark);
  border-radius: 2em;
}

div.message {
  background-color: var(--highlight-dark);
  color: var(--theme-light);
  text-align: center;
  font-weight: 700;
  padding: 1em;
  border-radius: 2em;
}

div.list-item {
  background-color: var(--highlight-2);
  border-radius: 2em;
  margin-bottom: 1em;
  padding: 1em;
}

div.list-item.grid {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  align-items: center;
}

div.list-item.grid .quantity {
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  margin-top: -1em;
}

div.list-item .quantity label {
  font-size: 0.8em;
  font-style: italic;
}

div.list-item .quantity input {
  width: 3em;
  padding: 0.5em;
  border-radius: 2em;
  border: 2px solid var(--theme-dark);
}

div.list-item p {
  margin: 0 1em;
  font-weight: 700;
}

div.list-item button {
  font-family: "SUSE", sans-serif;
  border: none;
  border-radius: 2em;
  background-color: var(--theme);
  color: var(--theme-light);
  font-weight: 700;
  font-size: 1.1em;
  padding: .75em;
}

div.list-item button:hover,
div.list-item button:focus,
input:focus {
  box-shadow: 3px 3px var(--highlight);
  outline: none;
}

div.list-item button:active {
  background-color: var(--highlight-dark);
  box-shadow: none;
}
